<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 端末により必要 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 14+ で明示（あれば） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sleep_Garden">

        <!-- 🌿 メイン画面 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 🔔 アラーム画面（AlarmActivity） -->
        <activity
            android:name=".alarm.AlarmActivity"
            android:exported="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="true" />
        <service
            android:name=".alarm.AlarmRingtoneService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|specialUse" />
        <receiver
            android:name=".alarm.SnoozeReceiver"
            android:exported="true" />

    </application>

</manifest>